# Redirect requests for index.php to index.html
Redirect /index.php /index.html

# Activate the Apache mod_rewrite module
RewriteEngine On

# Remove index or index.html from the URL and redirect to the directory root
RewriteRule ^(index|index\.html)?$ / [R=301,L]

# Disable MultiViews - to disable page generation on /index.html
Options -MultiViews

# Set index file without extension as the default file to serve when a directory is requested
DirectoryIndex index

# Treat (force) index file as PHP
<Files index>
    SetHandler application/x-httpd-php
</Files>